<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [30]:
import pandas as pd

Load the dataset into a dataframe.

In [31]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

In [32]:
# your code goes here
duplicate = df[df.duplicated()]
print("No. of duplicate Rows :", len(duplicate))


respondent = df['Respondent']
res_dup = respondent[respondent.duplicated()]
print("No. of duplicate Rows in Respondent column:", len(res_dup))

No. of duplicate Rows : 154
No. of duplicate Rows in Respondent column: 154

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [33]:
# your code goes here
results_df = df.drop_duplicates()

Verify if duplicates were actually dropped.

In [34]:
# your code goes here
duplicate = results_df[results_df.duplicated()]
print("No. of duplicate Rows :", len(duplicate))

No. of duplicate Rows : 0

## Finding Missing values

Find the missing values for all columns.

In [35]:
# your code goes here
missing_data = df.isnull()
# columns with missing data will return True for number of missing rows
for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

Respondent
False    11552
Name: Respondent, dtype: int64

MainBranch
False    11552
Name: MainBranch, dtype: int64

Hobbyist
False    11552
Name: Hobbyist, dtype: int64

OpenSourcer
False    11552
Name: OpenSourcer, dtype: int64

OpenSource
False    11471
True        81
Name: OpenSource, dtype: int64

Employment
False    11552
Name: Employment, dtype: int64

Country
False    11552
Name: Country, dtype: int64

Student
False    11499
True        53
Name: Student, dtype: int64

EdLevel
False    11436
True       116
Name: EdLevel, dtype: int64

UndergradMajor
False    10812
True       740
Name: UndergradMajor, dtype: int64

EduOther
False    11388
True       164
Name: EduOther, dtype: int64

OrgSize
False    11454
True        98
Name: OrgSize, dtype: int64

DevType
False    11485
True        67
Name: DevType, dtype: int64

YearsCode
False    11543
True         9
Name: YearsCode, dtype: int64

Age1stCode
False    11539
True        13
Name: Age1stCode, dtype: int64

YearsCodePro
False    11536
True        16
Name: YearsCodePro, dtype: int64

CareerSat
False    11552
Name: CareerSat, dtype: int64

JobSat
False    11551
True         1
Name: JobSat, dtype: int64

MgrIdiot
False    11054
True       498
Name: MgrIdiot, dtype: int64

MgrMoney
False    11050
True       502
Name: MgrMoney, dtype: int64

MgrWant
False    11054
True       498
Name: MgrWant, dtype: int64

JobSeek
False    11552
Name: JobSeek, dtype: int64

LastHireDate
False    11552
Name: LastHireDate, dtype: int64

LastInt
False    11129
True       423
Name: LastInt, dtype: int64

FizzBuzz
False    11515
True        37
Name: FizzBuzz, dtype: int64

JobFactors
False    11549
True         3
Name: JobFactors, dtype: int64

ResumeUpdate
False    11511
True        41
Name: ResumeUpdate, dtype: int64

CurrencySymbol
False    11552
Name: CurrencySymbol, dtype: int64

CurrencyDesc
False    11552
Name: CurrencyDesc, dtype: int64

CompTotal
False    10737
True       815
Name: CompTotal, dtype: int64

CompFreq
False    11346
True       206
Name: CompFreq, dtype: int64

ConvertedComp
False    10730
True       822
Name: ConvertedComp, dtype: int64

WorkWeekHrs
False    11427
True       125
Name: WorkWeekHrs, dtype: int64

WorkPlan
False    11429
True       123
Name: WorkPlan, dtype: int64

WorkChallenge
False    11384
True       168
Name: WorkChallenge, dtype: int64

WorkRemote
False    11544
True         8
Name: WorkRemote, dtype: int64

WorkLoc
False    11520
True        32
Name: WorkLoc, dtype: int64

ImpSyn
False    11547
True         5
Name: ImpSyn, dtype: int64

CodeRev
False    11551
True         1
Name: CodeRev, dtype: int64

CodeRevHrs
False    9083
True     2469
Name: CodeRevHrs, dtype: int64

UnitTests
False    11523
True        29
Name: UnitTests, dtype: int64

PurchaseHow
False    11354
True       198
Name: PurchaseHow, dtype: int64

PurchaseWhat
False    11514
True        38
Name: PurchaseWhat, dtype: int64

LanguageWorkedWith
False    11541
True        11
Name: LanguageWorkedWith, dtype: int64

LanguageDesireNextYear
False    11415
True       137
Name: LanguageDesireNextYear, dtype: int64

DatabaseWorkedWith
False    11096
True       456
Name: DatabaseWorkedWith, dtype: int64

DatabaseDesireNextYear
False    10497
True      1055
Name: DatabaseDesireNextYear, dtype: int64

PlatformWorkedWith
False    11130
True       422
Name: PlatformWorkedWith, dtype: int64

PlatformDesireNextYear
False    10991
True       561
Name: PlatformDesireNextYear, dtype: int64

WebFrameWorkedWith
False    10139
True      1413
Name: WebFrameWorkedWith, dtype: int64

WebFrameDesireNextYear
False    9918
True     1634
Name: WebFrameDesireNextYear, dtype: int64

MiscTechWorkedWith
False    9343
True     2209
Name: MiscTechWorkedWith, dtype: int64

MiscTechDesireNextYear
False    10078
True      1474
Name: MiscTechDesireNextYear, dtype: int64

DevEnviron
False    11523
True        29
Name: DevEnviron, dtype: int64

OpSys
False    11518
True        34
Name: OpSys, dtype: int64

Containers
False    11470
True        82
Name: Containers, dtype: int64

BlockchainOrg
False    9198
True     2354
Name: BlockchainOrg, dtype: int64

BlockchainIs
False    8915
True     2637
Name: BlockchainIs, dtype: int64

BetterLife
False    11452
True       100
Name: BetterLife, dtype: int64

ITperson
False    11517
True        35
Name: ITperson, dtype: int64

OffOn
False    11514
True        38
Name: OffOn, dtype: int64

SocialMedia
False    11251
True       301
Name: SocialMedia, dtype: int64

Extraversion
False    11532
True        20
Name: Extraversion, dtype: int64

ScreenName
False    11039
True       513
Name: ScreenName, dtype: int64

SOVisit1st
False    11227
True       325
Name: SOVisit1st, dtype: int64

SOVisitFreq
False    11547
True         5
Name: SOVisitFreq, dtype: int64

SOVisitTo
False    11551
True         1
Name: SOVisitTo, dtype: int64

SOFindAnswer
False    11549
True         3
Name: SOFindAnswer, dtype: int64

SOTimeSaved
False    11501
True        51
Name: SOTimeSaved, dtype: int64

SOHowMuchTime
False    9616
True     1936
Name: SOHowMuchTime, dtype: int64

SOAccount
False    11551
True         1
Name: SOAccount, dtype: int64

SOPartFreq
False    10404
True      1148
Name: SOPartFreq, dtype: int64

SOJobs
False    11546
True         6
Name: SOJobs, dtype: int64

EntTeams
False    11547
True         5
Name: EntTeams, dtype: int64

SOComm
False    11552
Name: SOComm, dtype: int64

WelcomeChange
False    11463
True        89
Name: WelcomeChange, dtype: int64

SONewContent
False    9557
True     1995
Name: SONewContent, dtype: int64

Age
False    11255
True       297
Name: Age, dtype: int64

Gender
False    11477
True        75
Name: Gender, dtype: int64

Trans
False    11429
True       123
Name: Trans, dtype: int64

Sexuality
False    11005
True       547
Name: Sexuality, dtype: int64

Ethnicity
False    10869
True       683
Name: Ethnicity, dtype: int64

Dependents
False    11408
True       144
Name: Dependents, dtype: int64

SurveyLength
False    11533
True        19
Name: SurveyLength, dtype: int64

SurveyEase
False    11538
True        14
Name: SurveyEase, dtype: int64

Find out how many rows are missing in the column 'WorkLoc'

In [36]:
# your code goes here
missing_workloc_data = df['WorkLoc'].isnull().sum()
print (missing_workloc_data)

32

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [37]:
# your code goes here
value_workloc_data = df['WorkLoc'].notnull().sum()
print (value_workloc_data)

11520

Identify the value that is most frequent (majority) in the WorkLoc column.

In [38]:
#make a note of the majority value here, for future reference
df['WorkLoc'].value_counts().idxmax()

'Office'

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [39]:
# your code goes here
df['WorkLoc'].fillna("Office", inplace = True)

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [40]:
# your code goes here
missing_workloc_data = df['WorkLoc'].isnull().sum()
print (missing_workloc_data)

0

In [41]:

print(df['ConvertedComp'].describe())
   
df1 = df['UndergradMajor'].value_counts()
print("Count the frequency of unique values:\n", df1)

count    1.073000e+04
mean     1.313340e+05
std      2.943245e+05
min      0.000000e+00
25%      2.672700e+04
50%      5.774400e+04
75%      1.000000e+05
max      2.000000e+06
Name: ConvertedComp, dtype: float64
Count the frequency of unique values:
 Computer science, computer engineering, or software engineering          7053
Information systems, information technology, or system administration     806
Another engineering discipline (ex. civil, electrical, mechanical)        769
Web development or web design                                             417
A natural science (ex. biology, chemistry, physics)                       409
Mathematics or statistics                                                 375
A business discipline (ex. accounting, finance, marketing)                247
A social science (ex. anthropology, psychology, political science)        212
A humanities discipline (ex. literature, history, philosophy)             209
Fine arts or performing arts (ex. graphic design, music, studio art)      165
I never declared a major                                                  126
A health science (ex. nursing, pharmacy, radiology)                        24
Name: UndergradMajor, dtype: int64

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [42]:
# your code goes here
comp_freq_categories = df['CompFreq'].unique()
for comp_freq_category in comp_freq_categories:
    print (comp_freq_category)

Yearly
Monthly
Weekly
nan

In [44]:
df2 = df['CompFreq'].value_counts()
print("Count the frequency of unique values:\n", df2)

Count the frequency of unique values:
 Yearly     6163
Monthly    4846
Weekly      337
Name: CompFreq, dtype: int64

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [43]:
# your code goes here

def compTotal_Calc(value):
    if (value == "Monthly"):
        return 12
    elif (value == "Weekly"):
        return 52
    else:
        return 1

df['NormalizedAnnualCompensation'] = df['CompFreq'].map(compTotal_Calc) * df['CompTotal']

dcols = df[["Respondent", "CompFreq", "CompTotal", "NormalizedAnnualCompensation"]]
display(dcols.head(10))

   Respondent CompFreq  CompTotal  NormalizedAnnualCompensation
0           4   Yearly    61000.0                       61000.0
1           9   Yearly   138000.0                      138000.0
2          13   Yearly    90000.0                       90000.0
3          16  Monthly    29000.0                      348000.0
4          17   Yearly    90000.0                       90000.0
5          19  Monthly     9500.0                      114000.0
6          20  Monthly     3000.0                       36000.0
7          22   Yearly   103000.0                      103000.0
8          23   Yearly    69000.0                       69000.0
9          24  Monthly     8000.0                       96000.0

In [45]:
df['NormalizedAnnualCompensation'].describe()

count    1.073700e+04
mean     6.073823e+06
std      9.771445e+07
min      0.000000e+00
25%      5.200000e+04
50%      1.000000e+05
75%      3.600000e+05
max      8.400000e+09
Name: NormalizedAnnualCompensation, dtype: float64

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).